.bookmarks-explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: calc(100vh - 80px);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.business-content {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.business-card,
.business-bio {
    flex: 0 0 450px;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.business-card {
    position: relative;
}

.business-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.business-bio {
    padding: 1rem;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.business-bio h2 {
    margin-top: 0;
    color: #333;
}

.business-bio p {
    margin-bottom: 1rem;
    color: #666;
}

.next-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #45a049;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 1000px) {
    .bookmarks-explorer {
        padding: 1rem;
    }

    .business-content {
        flex-direction: column;
        align-items: center;
    }

    .business-card,
    .business-bio {
        width: 100%;
        max-width: 450px;
        height: 350px;
    }
}

@media screen and (max-width: 500px) {

    .business-card,
    .business-bio {
        height: 300px;
    }
}